* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  #searchInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .movie-item {
    width: 23%;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
  }
  
  .movie-item img {
    max-width: 100%;
    height: auto;
  }
  
  .movie-details {
    margin-top: 40px;
    display: none;
    text-align: center;
  }
  
  .movie-details img {
    max-width: 300px;
    margin-bottom: 20px;
  }
  